* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 2rem 0;
    text-align: center;
}

header h1 {
    margin-bottom: 0.5rem;
    font-size: 2.5rem;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.projects-section {
    padding: 2rem 0;
    background-color: #fff;
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 1rem;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project-item {
    background-color: #eaeaea;
    color: #333;
    border-radius: 5px;
    margin: 1rem;
    padding: 1.5rem;
    width: 30%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.project-item:hover {
    transform: scale(1.05);
}

.project-item h3 {
    margin-bottom: 0.5rem;
    color: #333;
}
.project-item p{
    color: #333;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

footer p {
    margin: 0;
}

a{
    text-decoration: none;
}

#back_to_portfolio{
    color: white;
}

/* About Me Section */
.about-me {
    background-color: #f4f4f4;
    padding: 4rem 2rem;
    text-align: center;
    margin-top: 2rem;
    border-radius: 10px;
}

.about-me h2 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
}

.about-me p {
    font-size: 1.2rem;
    line-height: 1.8;
    color: #555;
    margin-bottom: 2rem;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

/* Social Links Styling */
.social-links {
    margin-top: 2rem;
    text-align: center;
}

.social-links a {
    display: inline-block;
    margin: 0 1rem;
    padding: 0.8rem 1.5rem;
    border-radius: 50px;
    text-decoration: none;
    font-size: 1.1rem;
    color: white;
    transition: background-color 0.3s ease;
}

.linkedin-link {
    background-color: #0077b5;
}

.linkedin-link:hover {
    background-color: #005983;
}

.github-link {
    background-color: #333;
}

.github-link:hover {
    background-color: #666;
}

.contact-button {
    display: inline-block;
    padding: 0.8rem 1.5rem;
    background-color: #d14836;
    color: white;
    text-decoration: none;
    border-radius: 50px;
    font-size: 1.1rem;
    transition: background-color 0.3s ease;
    border: none;
}

.contact-button:hover {
    background-color: #a73628;
    cursor: pointer;
}

/* Modal styling */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    max-width: 500px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

.modal-content h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 1rem;
}

.modal-content p {
    font-size: 1.2rem;
    color: #555;
    margin: 1rem 0;
}

.close {
    color: #aaa;
    float: right;
    font-size: 1.5rem;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #000;
    cursor: pointer;
}
.social-links img{
    width: 20px;
    position: relative;
    top: 4px;
}
.download-button {
    display: inline-block;
    padding: 0.8rem 1.5rem;
    background-color: #0077b5;
    color: white;
    text-decoration: none;
    border-radius: 50px;
    font-size: 1.1rem;
    margin-right: 1rem;
    transition: background-color 0.3s ease;
}
.download-button:hover{
    background-color: #005983;
}